@import url(fonts.css);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
}

:root
{
    --bg-dark:#0d1117;
    --blue:#58a6ff;
    --text:#c9d1d9;
    --border:#30363d;

    --container-max: 1250px;
    --container-pad: clamp(16px, 4vw, 32px);

    --muted:#9da5b4;
}

/* <========== HTML ==========> */

html
{
    color-scheme: dark;
    scroll-behavior: smooth;
}

body
{
    background:
        radial-gradient(900px 700px at 0% 0%, rgba(17, 0, 255, 0.1), transparent 65%),
        radial-gradient(900px 700px at 100% 100%, rgba(0, 255, 170, 0.1), transparent 65%),
        linear-gradient(135deg, #0d1117 0%, #0b0f14 50%, #0a0e12 100%);

    background-attachment: fixed;
    color: var(--text);
    font-family: 'DM Sans', sans-serif;
}

section
{
    padding-block: clamp(32px, 6vw, 72px);
}

.container
{
    max-width: var(--container-max);
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--container-pad);
}
