footer
{
    position: absolute;

    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 10px;

    font-size: 8px;
    color: #fff;
    align-items: center;

    background-color: #919eff;
    border-bottom: 5px solid #6d77c3;
}